<!DOCTYPE html>
<html lang="en" xmlns="">
<style>
    body {
        background-image: url("airplane-aircraft-wallpaper-hd-1920x1200-484418.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    div {
        text-align: center;
        size: auto;
    }

    iframe {
        overflow: auto;
        font-family: "Cambria Math", serif;
        position: absolute;
        width: 0;
        height: 0;
        border: 0;
    }

</style>
<script>
    //global var that determine if the anomaly report ready
    let isReady = false

    /** when 'onload' of iframe is invoke - this function called **/
    function show_button() {
        //if data is ready, show anomaly button
        if (isReady) {
            document.getElementById('show_anomalies').style.visibility = 'visible'
            alert('Anomaly Report is ready! You can display the result by clicking on the button.')
            isReady = false
        }
    }

    /**when send file is 'onclick' invoke - this function called **/
    function onSubmission() {
        //changing data status to ready, for next onload of iframe
        isReady = true
        //clear the container from any las submission if exists
        let container = document.getElementById('container')
        container.innerHTML = ''
        //change visibility of show button
        document.getElementById('show_anomalies').style.visibility = 'hidden'
        alert('We have got your files, our server running the algorithm and we let you know when the results are back!')
    }

    /** after 'onclick' show button - this function called. create table and filled it with
     * json anomaly report data**/
    function createTable() {
        let cols = ['Time Stamp', 'Feature A', 'Feature B'];
        // get handle on div
        let container = document.getElementById('container')
        let list = document.getElementById('result').contentDocument.firstChild.textContent;
        let json = JSON.parse(list)
        // create table element
        let table = document.createElement('table');
        let tbody = document.createElement('tbody');
        //create table header
        let row = document.createElement('tr');
        let cell1 = document.createElement('td');
        cell1.textContent = "Feature 1";
        let cell2 = document.createElement('td');
        cell2.textContent = "Feature 2";
        let cell3 = document.createElement('td');
        cell3.textContent = "Time Stamp";
        // append td to tr
        row.appendChild(cell1);
        row.appendChild(cell2);
        row.appendChild(cell3);
        row.setAttribute("align", "center")
        //append tr to tbody
        tbody.appendChild(row);
        // loop array - adding rows to tables
        for (let i = 0; i < json.length; i++) {
            // get inner array
            let anomaly = json[i];
            let anomaly_arr = [anomaly.FeatureA, anomaly.FeatureB, anomaly.Timestamp]
            // create tr element
            let row = document.createElement('tr');
            for (let j = 0; j < anomaly_arr.length; j++) {
                // create td element
                let cell = document.createElement('td');
                // set text
                cell.textContent = anomaly_arr[j];
                // append td to tr
                row.appendChild(cell);
                row.setAttribute("align", "center")
            }
            //append tr to tbody
            tbody.appendChild(row);
        }
        // append tbody to table
        table.appendChild(tbody);
        // append table to container
        container.appendChild(table);
        table.setAttribute("border", "2");
        document.getElementById('show_anomalies').style.visibility = 'hidden'
    }
</script>

<head>
    <meta charset="UTF-8">
    <title>Anomaly Detection Server</title>
    <link rel="shortcut icon" type="image/ico" href="./Airplane-Wing-1024x640.jpg"/>

</head>
<body>
<h1 style="text-align: center; font-family: fantasy">Welcome to Flight Anomaly Server!</h1>
<form action="/detect" method="post" enctype="multipart/form-data" name="detect" id="detect" target="result"
      style="text-align:center">
    <table style="text-align: center" align="center">
        <tr>
            <td><label for="algo" style="font-size: large">Choose your algorithm from the list:</label>
                <input list="algorithms" name="algo" id="algo">
                <datalist id="algorithms">
                    <option>Hybrid Algorithm</option>
                    <option>Regression Algorithm</option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td><input type="file" name="learn_file"></td>
            <td>Upload File to learn correlations</td>
        </tr>
        <tr>
            <td><input type="file" name="detect_file"></td>
            <td>Upload File to detect Anomalies</td>
        </tr>
    </table>
    <input type="submit" id="send" value="send files" onclick="onSubmission()">
    <br>
    <button name="show_anomalies" id="show_anomalies" style="visibility: hidden" onclick="createTable()">Show
        Anomalies!
    </button>
</form>
<br>
<div>
    <p id="container" align="center"></p>
    <iframe name="result" id="result" onload="show_button()"></iframe>
</div>
</body>
</html>